<h1>Update Product</h1>

<form action="/products/<%= @product.id %>" method="post">
  <input type="hidden" name="method" value="patch">
  <div>Name: <input type="text" name="name" value="<%= @product.name %>"></div> <br>
  <div>Price: <input type="text" name="price" value="<%= @product.price %>"></div> <br>
  <div>Description: <input type="text" name="description" value="<%= @product.description %>"></div> <br>
  <div>Inventory: <input type="text" name="inventory" value="<%= @product.inventory %>"></div> <br>

  <div>
    <label for="supplier_id">Choose a supplier:</label>
    <select name="supplier_id" id="supplier_id">
      <% Supplier.all.each do |supplier|%>
        <option value=<%= supplier.id %>><%= supplier.name %></option>
      <% end %>
    </select> <br> <br>
  </div>
  
    <input type="submit" value="Update Product">
</form>