<h1><%= @product.name %></h1>
  <h2>Price: <%= @product.price %></h2>
  <h4>Description: <%= @product.description %></h4>
  <h4>Available: <%= @product.inventory %></h4> <br>
  <% if @product.images %> 
    <img src="<%= @product.images[0].url %>"> <br>
  <% end %>
  
  <a href="/products/<% @product.id %>/edit">Edit Product</a>
  <a href="/products/<% @product.id %>" data-method="delete">Delete Product</a>